/assignments/Unit1/HW02/Area of a triangle Short/nbproject/private/
/assignments/Unit1/HW02/Area of a triangle Short/build/
/assignments/Unit1/HW02/AreaOfATriangleInt/nbproject/private/
/assignments/Unit1/HW02/AreaOfATriangleInt/build/
/assignments/Unit1/HW02/AreaOfATriangleFloat/nbproject/private/
/assignments/Unit1/HW02/AreaOfATriangleFloat/build/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/dist/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/