/assignments/Unit1/HW02/Area of a triangle Short/nbproject/private/
/assignments/Unit1/HW02/Area of a triangle Short/build/
/assignments/Unit1/HW02/AreaOfATriangleInt/nbproject/private/
/assignments/Unit1/HW02/AreaOfATriangleInt/build/
/assignments/Unit1/HW02/AreaOfATriangleFloat/nbproject/private/
/assignments/Unit1/HW02/AreaOfATriangleFloat/build/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/WS04-LogicalOperators/dist/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05literations/nbproject/private/
/workshops/unit1/WS05literations/build/
/assignments/Unit1/HW03Iterations/nbproject/private/
/assignments/Unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/Exams/Unit1/MariñoKerlyQ11/nbproject/private/
/Exams/Unit1/MariñoKerlyQ11/build/
/assignments/Unit2/HW08-FactorialNumber/nbproject/private/
/assignments/Unit2/HW08-FactorialNumber/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/assignments/Unit2/HW10-Functions/nbproject/private/
/assignments/Unit2/HW10-Functions/build/
/assignments/Unit2/HW11/WS11-Refactor/nbproject/private/
/assignments/Unit2/HW11/WS11-Refactor/build/
/assignments/Unit2/HW11/WS11-FunctionsAndRecursion/nbproject/private/
/assignments/Unit2/HW11/WS11-FunctionsAndRecursion/build/
/assignments/Unit2/HW11Functions/nbproject/private/
/assignments/Unit2/HW11Functions/build/
/assignments/Unit2/HW11Recursion/nbproject/private/
/assignments/Unit2/HW11Recursion/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/assignments/Unit2/HW12-Taxes/nbproject/private/
/assignments/Unit2/HW12-Taxes/build/
/assignments/Unit2/WS13-Task/nbproject/private/
/assignments/Unit2/WS13-Task/build/
/workshops/unit2/WS13-Task/nbproject/private/
/workshops/unit2/WS13-Task/build/
/workshops/unit2/WS14/dogBreeds/nbproject/private/
/workshops/unit2/WS14/dogBreeds/build/
/Nueva Carpeta/ArraysQuiz/nbproject/private/
/Nueva Carpeta/ArraysQuiz/build/
/workshops/Correction-ArraysQuiz/nbproject/private/
/workshops/Correction-ArraysQuiz/build/
/workshops/Correction-ArraysQuiz/dist/
/Nueva Carpeta/ArraysQuiz/dist/
/Quizes/ArraysQuiz/build/
/Quizes/ArraysQuiz/dist/
/Quizes/ArraysQuiz/nbproject/private/
/workshops/MatrixAddition/nbproject/private/
/workshops/unit2/Correction-ArraysQuiz/build/
/workshops/unit2/Correction-ArraysQuiz/dist/
/workshops/unit2/Correction-ArraysQuiz/nbproject/private/
/workshops/MatrixAddition/build/
/workshops/unit2/WS15Correction-ArraysQuiz/build/
/workshops/unit2/WS15Correction-ArraysQuiz/dist/
/workshops/unit2/WS15Correction-ArraysQuiz/nbproject/private/
/workshops/unit2/WS15CorrectionArraysQuiz/nbproject/private/
/workshops/unit2/WS15CorrectionArraysQuiz/build/